@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src:
    url('fonts/PTSansNarrow-Bold.woff2') format('woff2'),
    url('fonts/PTSansNarrow-Bold.woff') format('woff');
}
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src:
    url('fonts/PTSansNarrow-Regular.woff2') format('woff2'),
    url('fonts/PTSansNarrow-Regular.woff') format('woff');
}
