@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("fonts/PTSansNarrow-Bold.woff2") format("woff2"), url("fonts/PTSansNarrow-Bold.woff") format("woff");
}
@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("fonts/PTSansNarrow-Regular.woff2") format("woff2"), url("fonts/PTSansNarrow-Regular.woff") format("woff");
}
img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
  font-size: 18px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  line-height: 27px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.page ::after,
.page ::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page__body {
  min-height: 100%;
  margin: 0;
  background-color: #f8f5f2;
  color: #000;
}

.page-header {
  background-color: #242424;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.page-header__logo {
  height: 85px;
}
@media (min-width: 768px) {
  .page-header__logo {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    height: 488px;
  }
}
@media (min-width: 1200px) {
  .page-header__logo {
    height: 648px;
  }
}

@media (min-width: 768px) {
  .main-nav__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 640px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .main-nav__wrapper {
    width: 960px;
  }
}

@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: 768px) {
  .site-list {
    width: 570px;
  }
}
@media (min-width: 1200px) {
  .site-list {
    width: 780px;
  }
}

@media (min-width: 768px) {
  .user-list {
    width: 60px;
  }
}

.stats {
  background-color: #292929;
  color: #fff;
}

@media (min-width: 768px) {
  .stats__wrapper {
    padding: 0 64px;
  }
}
@media (min-width: 1200px) {
  .stats__wrapper {
    margin: auto;
    max-width: 960px;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

.stats__header {
  background-color: #fff;
  color: #000;
}

.stats__slogan {
  margin: 0;
}

.stats__intro {
  margin: 0;
}

.stats__legend {
  margin: 0;
}

@media (max-width: 767px) {
  .stats__legend--top {
    display: none;
  }
}

@media (min-width: 768px) {
  .stats__legend--bottom {
    display: none;
  }
}

.stats__list {
  margin: 0;
}
/*# sourceMappingURL=style.css.map */
