.main-nav__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 640px;
    margin: 0 auto;
  }
  @media (min-width: $desktop-width) {
    width: 960px;
  }
}
.main-nav__toggle {
  @media (min-width: $tablet-width) {
  display: none;
  }
}
