.stats {
  background-color: $darkgrey;
  color: #fff;
}
.stats__wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 64px;
  }
  @media (min-width: $desktop-width) {
    margin: auto;
    max-width: 960px;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}
.stats__header {
  background-color: #fff;
  color: #000;
}
.stats__slogan {
  margin: 0;
}
.stats__intro {
  margin: 0;
}
.stats__legend {
  margin: 0;
}
.stats__legend--top {
  @media (max-width: $mobil-width-only) {
    display: none;
  }
}
.stats__legend--bottom {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
.stats__list {
  margin: 0;
}