.page {
  height: 100%;
  font-size: 18px;
  font-family: 'PT Sans Narrow', sans-serif;
  line-height: 27px;
  position: relative;
}

.page__body {
  min-height: 100%;
  margin: 0;
  background-color: $lightgray;
  color: #000;
}
.form-page__body {
  margin: 0;
  background-color: #F8F5F2;
}