.user-list {
  @media (min-width: $tablet-width) {
    width: 60px;
  }
  @media (min-width: $desktop-width) {
    width: auto;
    max-width: 160px;
  }
}
.user-list__login {
  position: relative;
  display: block;
  padding: 17px 21px;
  padding-left: 49px;
  line-height: 18px;
  color: #fff;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    width: 60px;

    height: 70px;
    padding: 0;
    span {
      position: absolute;
      opacity: 0;
    }
    &:hover .user-list__login-icon {
      opacity: 1;

      path {
        fill: $lightbrown;
      }
    }
    &:active .user-list__login-icon {
      opacity: 0.3;

      path {
        fill: #fff;
      }
    }
  }
  @media (min-width:$desktop-width) {
    position: relative;
    display: block;
    width: auto;
    height: auto;
    padding: 25px 30px 23px 50px;

    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;

    span {
      opacity: 1;
    }

    &:hover {
      color: #000000;
      background-color: #fff;
    }

    &:active {
      color: rgba(#000000, 0.3);
      background-color: #fff;
    }
    &:hover .user-list__login-icon {
      opacity: 0.3;
      path {
        fill: #000000;
      }
    }
    &:active .user-list__login-icon {
      opacity: 0.1;
    }
  }
}
.user-list__login-icon {
  position: absolute;
  top: 17px;
  left: 21px;
  width: 16px;
  height: 16px;
  opacity: 0.3;

  @media (min-width: $tablet-width) {
    top: 29px;
    left: 12px;
  }
}